/* SenangWebs Modals CSS */

@keyframes swmFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes swmFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .swm-modal-overlay {
    --swm-bg-color: rgba(0, 0, 0, 0.5);
    --swm-bg-blur: 0px;
    --swm-z-index: 1000;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--swm-bg-color);
    backdrop-filter: blur(var(--swm-bg-blur));
    z-index: var(--swm-z-index);
    animation: swmFadeIn 0.3s ease-out;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swm-modal {
    background-color: white;
    border-radius: 12px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    animation: swmFadeIn 0.3s ease-out;
    border: 1px solid #E5E5E5;
  }
  
  .swm-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 8px 16px;
    border-bottom: 1px solid #E5E5E5;
  }
  
  .swm-modal-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  .swm-modal-close {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
  
  .swm-modal-body {
    overflow-y: auto;
    padding: 8px 16px;
  }
  
  .swm-modal-footer {
    text-align: right;
    padding: 8px 16px;
    border-top: 1px solid #E5E5E5;
  }
  
  [data-swm-body] {
    display: none;
  }
  
  .swm-modal-overlay.swm-closing {
    animation: swmFadeOut 0.3s ease-in forwards;
  }
  
  .swm-modal.swm-closing {
    animation: swmFadeOut 0.3s ease-in forwards;
  }